<form class="simple-soundboard-sound-form" id="sound-config-form">
  <div class="form-group">
    <label for="name">{{localize "SIMPLE-SOUNDBOARD.SoundName"}}</label>
    <input type="text" name="name" value="{{sound.name}}" placeholder="{{localize 'SIMPLE-SOUNDBOARD.SoundNamePlaceholder'}}" />
  </div>

  <div class="form-group">
    <label for="playlistId">{{localize "SIMPLE-SOUNDBOARD.SelectPlaylist"}}</label>
    <select name="playlistId" id="playlistId">
      <option value="">-- {{localize "SIMPLE-SOUNDBOARD.SelectPlaylistOption"}} --</option>
      {{#each playlists}}
        <option value="{{this.id}}" {{#if (eq ../sound.playlistId this.id)}}selected{{/if}}>
          {{this.name}}
        </option>
      {{/each}}
    </select>
  </div>

  <div class="form-group">
    <label for="soundId">{{localize "SIMPLE-SOUNDBOARD.SelectSound"}}</label>
    <select name="soundId" id="soundId">
      <option value="">-- {{localize "SIMPLE-SOUNDBOARD.SelectSoundOption"}} --</option>
      {{#each sounds}}
        <option value="{{this.id}}" {{#if (eq ../sound.soundId this.id)}}selected{{/if}}>
          {{this.name}}
        </option>
      {{/each}}
    </select>
    <div class="preview-controls">
      <button type="button" class="preview-sound" title="{{localize 'SIMPLE-SOUNDBOARD.PreviewSound'}}">
        <i class="fas fa-play"></i>
      </button>
      <button type="button" class="stop-preview" title="{{localize 'SIMPLE-SOUNDBOARD.StopPreview'}}">
        <i class="fas fa-stop"></i>
      </button>
    </div>
  </div>

  <div class="form-group">
    <label for="volume">{{localize "SIMPLE-SOUNDBOARD.Volume"}}</label>
    <div class="form-fields">
      <input type="range" name="volume" min="0" max="1" step="0.05" value="{{#if sound.volume}}{{sound.volume}}{{else}}0.8{{/if}}" />
      <span class="range-value">{{#if sound.volume}}{{sound.volume}}{{else}}0.8{{/if}}</span>
    </div>
  </div>

  <div class="form-group">
    <label for="loop">{{localize "SIMPLE-SOUNDBOARD.Loop"}}</label>
    <input type="checkbox" name="loop" {{#if sound.loop}}checked{{/if}} />
  </div>

  <div class="form-group">
    <label for="color">{{localize "SIMPLE-SOUNDBOARD.ButtonColor"}}</label>
    <div class="form-fields">
      <input type="color" name="color" value="{{#if sound.color}}{{sound.color}}{{else}}{{defaultColor}}{{/if}}" />
      <input type="text" name="color-text" value="{{#if sound.color}}{{sound.color}}{{else}}{{defaultColor}}{{/if}}" class="color-text" />
    </div>
  </div>

  <footer class="sheet-footer flexrow">
    {{#unless isNew}}
    <button type="button" class="delete-sound">
      <i class="fas fa-trash"></i>
      {{localize "SIMPLE-SOUNDBOARD.Delete"}}
    </button>
    {{/unless}}
    <button type="button" class="save-sound">
      <i class="fas fa-save"></i>
      {{localize "SIMPLE-SOUNDBOARD.Save"}}
    </button>
  </footer>
</form>
